@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');

body {
    font-family: Michroma, serif;
    background: linear-gradient(90deg, #2b00ff 0%, #171717 100%);
}

p {
    color: aquamarine;
}

.nav-link {
    color: aquamarine;
}

.navbar-nav .nav-link.active {
    color: rgb(143, 142, 143);
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: rgb(143, 142, 143);
}

.sidebar {
    color: aquamarine;
    background: linear-gradient(270deg, #2b00ff 0%, #171717 100%);
}

.card {
    background: linear-gradient(270deg, #2b00ff 0%, #171717 100%);
    color: aquamarine;
}

.slide-text,
.footer-text {
    color: aquamarine;
    margin: auto auto;
}

footer {
    background: linear-gradient(270deg, #2b00ff 0%, #171717 100%);
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 755) {
    .carousel-indicators {
        display: none;
    }
}