body {
    background: linear-gradient(90deg, #2b00ff 0%, #171717 100%);
}

.nav-link {
    color: aquamarine;
}

.navbar-nav .nav-link.active {
    color: rgb(143, 142, 143);
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: rgb(143, 142, 143);
}